.hr-container{
    width: 100vw;
    height: 100svh;
    display: flex;
    flex-direction: row;
}


.menu{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-folders{
    width: 100%;
    height: 65%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.folder{
    width: 200px;
    height: 120px;
    background-color: #f3c674; 
    border: 2px solid #b58d3b;
    border-radius: 6px;
    position: absolute;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.folder.hide{
    transform: translateX(0px);
}

.folder.show{
    transform: translateX(50px);
}

.folder:hover{
    transform: translateX(50px);
}

#home-folder{
    top: 25%;
}

#about-folder{
    top: 32%;
}

#projects-folder{
    top: 39%;
}

#downloads-folder{
    top: 46%;
}

.tab{
    width: 100px;
    height: 20px;
    background-color: #f3c674;
    border: 2px solid #b58d3b;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: absolute;
    top: -23px;
    right: 0;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    font-size: 14px;
}


.menu-button-container{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle-btn{
    border: 0.1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hr-content{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-display{
    height: 80%;
    width: 80%;
    border-radius: 10px;
    border: 0.1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-display-content{
    display: none;
}

/* HOME CONTENT */

/* ABOUT CONTENT */
.hr-display-content:nth-child(2){
    display: none;
}

.about-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.about-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.about-row1{
    height: 50%;
}

.about-row2{
    height: 50%;
}

.description{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.profile-image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img{
    width: 60%;
    height: auto;
}

.skills{
    width: 50%;
    padding: 2%;
}

.skills table{
    width: 90%;
}

.skills table th{
    text-align: left;
}

.skills table tr td{
    border: 1px solid rgb(166, 166, 166);
    border-radius: 5px;
    cursor: pointer;
}

.skills table tr td p{
    margin: 5%;
}

.skills table tr td:hover{
    border: 1px solid rgb(0, 0, 0);
}

.interests{
    width: 50%;
    padding: 2%;
}

.interests table{
    width: 90%;
}

.interests table th{
    text-align: left;
}

.interests table tr td{
    border: 1px solid rgb(166, 166, 166);
    border-radius: 5px;
    cursor: pointer;
}

.interests table tr td:hover{
    border: 1px solid black;
}

.interests table tr td p{
    margin: 5%;
}


/* PROJECTS CONTENT */
.hr-display-content:nth-child(3){
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.hr-projects-showcase{
    width: 100%;
    height: 75%;
    
}

.hr-projects-menu{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hr-project-btn{
    background-color: #f3c674;
    width: 18%;
    height: 30%;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.hr-project-btn:hover{
    background-color: #ffe6b8;
    transform: translateY(-15px);
}

/* SINGLE PROJECTS CONTENT */
.show-project{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#hr-project-title{
    margin: 5% 5% 0 5%;
    font-size: 20px;
}

#hr-project-description{
    margin: 5%;
    font-size: 16px;
}

.project-info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-info ul{
    list-style-type:circle;
    margin-left: 5%;
}

.project-info ul li{
    font-size: 18px;
    margin-bottom: 5%;
}

.project-info img{
    height: 100%;
    width: auto;
    margin-left: 5%;
}

#hr-project-link{
    margin-left: 5%;
    margin-top: 5%;
}

/* DOWNLOADS CONTENT */



/* MAIN SCREEN and MENU */
@media only screen and (max-width: 1100px) {
    .menu{
        width: 25%;
    }

    .folder{
        width: 150px;
        height: 100px;
    }

    .hr-content{
        width: 75%;
    }

    .content-display{
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {
    .menu{
        width: 20%;
    }

    .folder{
        width: 150px;
        height: 100px;
    }

    .hr-content{
        width: 80%;
    }

    .content-display{
        width: 95%;
    }
}

@media only screen and (max-width: 880px){
    .toggle{
        display: none;
    }
}

@media only screen and (max-width: 800px) {

    .hr-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .menu{
        width: 100%;
        height: 30%;
        order: 2;

        display: flex;
        flex-direction: column;
    }

    .menu-folders{
        width: 100%;
        height: 40%;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        position: unset;
    }

    .folder{
        width: 18%;
        height: 90px;
        position: relative;
    }

    .folder.hide{
        transform: translateY(0px);
    }

    .folder.show{
        transform: translateY(-50px);
    }

    
    .folder:hover{
        transform: unset;
    }

    #home-folder{
        top: unset;
        left: unset;
    }

    #about-folder{
        top: unset;
        left: unset;
    }

    #projects-folder{
        top: unset;
        left: unset;
    }

    #downloads-folder{
        top: unset;
        left: unset;
    }

    .tab{
        width: 60%;
        height: 20px;
        background-color: #f3c674;
        border: 2px solid #b58d3b;
        border-bottom: none;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        position: absolute;
        top: -23px;
        right: 0;
        text-align: center;
        line-height: 25px;
        font-weight: bold;
        font-size: 14px;
    }

    .hr-content{
        width: 100%;
        height: 70%;
        order: 1;
    }

    .content-display{
        width: 95%;
        height: 90%;
    }

    .menu-button-container{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-toggle-btn{
        width: 100px;
        height: 100px;
    }

}

@media only screen and (max-width: 660px) {

    .hr-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .menu{
        width: 100%;
        height: 25%;
        order: 2;

        display: flex;
        flex-direction: column;
    }

    .menu-folders{
        width: 100%;
        height: 40%;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        position: unset;
    }

    .folder{
        width: 18%;
        height: 80%;
        position: relative;
    }

    .folder.hide{
        transform: translateY(0px);
    }

    .folder.show{
        transform: translateY(-50px);
    }

    #home-folder{
        top: unset;
        left: unset;
    }

    #about-folder{
        top: unset;
        left: unset;
    }

    #projects-folder{
        top: unset;
        left: unset;
    }

    #downloads-folder{
        top: unset;
        left: unset;
    }

    .tab{
        width: 60%;
        height: 20px;
        background-color: #f3c674;
        border: 2px solid #b58d3b;
        border-bottom: none;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        position: absolute;
        top: -23px;
        right: 0;
        text-align: center;
        line-height: 25px;
        font-weight: bold;
        font-size: 10px;
    }

    .hr-content{
        width: 100%;
        height: 80%;
        order: 1;
    }

    .content-display{
        width: 95%;
        height: 90%;
    }

    .menu-button-container{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-toggle-btn{
        width: 75px;
        height: 75px;
    }

}

@media only screen and (max-width: 580px) {

    .hr-container{
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
    }

    .menu{
        width: 100%;
        height: 25%;
        order: 2;

        display: flex;
        flex-direction: column;
    }

    .menu-folders{
        width: 100%;
        height: 40%;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        position: unset;
    }

    .folder{
        width: 18%;
        height: 80%;
        position: relative;
    }

    .folder.hide{
        transform: translateY(0px);
    }

    .folder.show{
        transform: translateY(-50px);
    }

    #home-folder{
        top: unset;
        left: unset;
    }

    #about-folder{
        top: unset;
        left: unset;
    }

    #projects-folder{
        top: unset;
        left: unset;
    }

    #downloads-folder{
        top: unset;
        left: unset;
    }

    .tab{
        width: 65%;
        height: 20px;
        background-color: #f3c674;
        border: 2px solid #b58d3b;
        border-bottom: none;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        position: absolute;
        top: -23px;
        right: 0;
        text-align: center;
        line-height: 25px;
        font-weight: bold;
        font-size: 10px;
    }

    .hr-content{
        width: 100%;
        height: 80%;
        order: 1;
    }

    .content-display{
        width: 95%;
        height: 90%;
    }

    .menu-button-container{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-toggle-btn{
        width: 75px;
        height: 75px;
    }

}

@media only screen and (max-width: 460px) {

    .hr-container{
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
    }

    .menu{
        width: 100%;
        height: 25%;
        order: 2;

        display: flex;
        flex-direction: column;
    }

    .menu-folders{
        width: 100%;
        height: 40%;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        position: unset;
    }

    .folder{
        width: 18%;
        height: 80%;
        position: relative;
    }

    .folder.hide{
        transform: translateY(0px);
    }

    .folder.show{
        transform: translateY(-50px);
    }

    #home-folder{
        top: unset;
        left: unset;
    }

    #about-folder{
        top: unset;
        left: unset;
    }

    #projects-folder{
        top: unset;
        left: unset;
    }

    #downloads-folder{
        top: unset;
        left: unset;
    }

    .tab{
        width: 75%;
        height: 20px;
        background-color: #f3c674;
        border: 2px solid #b58d3b;
        border-bottom: none;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        position: absolute;
        top: -23px;
        right: 0;
        text-align: center;
        line-height: 25px;
        font-weight: bold;
        font-size: 10px;
    }

    .hr-content{
        width: 100%;
        height: 80%;
        order: 1;
    }

    .content-display{
        width: 95%;
        height: 90%;
    }

    .menu-button-container{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-toggle-btn{
        width: 75px;
        height: 75px;
    }

}


/* ABOUT PAGE */
@media only screen and (max-width: 660px){

    .about-content{
        overflow-y: scroll;
    }

    .about-row{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .about-row1{
        height: unset;
    }

    .about-row2{
        height: unset;
    }

    .description{
        width: 100%;
        margin-top: 10%;
        order: 2;
        padding: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }

    .description h3{
        width: 95%;
        text-align: left;
    }

    .description p {
        width: 95%;
        padding: 0;
    }

    .profile-image{
        width: 100%;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
    }

    .profile-image img{
        width: 35%;
        height: auto;
    }

    .skills{
        width: 100%;
        margin-bottom: 10%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .skills table{
        width: 95%;
    }

    .skills table th{
        text-align: left;
    }

    .skills table tr td{
        border: 1px solid rgb(166, 166, 166);
        border-radius: 5px;
        cursor: pointer;
    }

    .skills table tr td p{
        margin: 5%;
    }

    .skills table tr td:hover{
        border: 1px solid rgb(0, 0, 0);
    }

    .interests{
        margin-bottom: 10%;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .interests table{
        width: 95%;
    }

    .interests table th{
        text-align: left;
    }

    .interests table tr td{
        border: 1px solid rgb(166, 166, 166);
        border-radius: 5px;
        cursor: pointer;
    }

    .interests table tr td:hover{
        border: 1px solid black;
    }

    .interests table tr td p{
        margin: 5%;
    }
}


/* PROJECT(S) PAGE */
@media only screen and (max-width: 800px) {

    /* PROJECTS CONTENT */
    .hr-display-content:nth-child(3){
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .hr-projects-showcase{
        width: 100%;
        height: 85%;
    }

    .hr-projects-menu{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .hr-project-btn{
        background-color: #f3c674;
        width: 18%;
        height: 50%;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }

    .hr-project-btn:hover{
        background-color: #f3c674;
        transform: unset;
    }

    /* SINGLE PROJECTS CONTENT */
    .show-project{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #hr-project-title{
        margin: 5% 5% 0 5%;
        font-size: 18px;
    }

    #hr-project-description{
        margin: 5% 5% 5% 5%;
        font-size: 16px;
    }

    .project-info{
        width: 100%;
        height:40%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .project-info ul{
        list-style-type:circle;
        margin-left: 5%;
    }

    .project-info ul li{
        font-size: 18px;
        margin-bottom: 5%;
    }

    .project-info img{
        height: 100%;
        width: auto;
        margin-left: 5%;
    }

    #hr-project-link{
        margin-left: 5%;
        margin-top: 5%;
    }
}

@media only screen and (max-width: 600px) {

    /* PROJECTS CONTENT */
    .hr-display-content:nth-child(3){
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .hr-projects-showcase{
        width: 100%;
        height: 85%;
        overflow-y: scroll;
    }

    .hr-projects-menu{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #ffe6b8;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .hr-project-btn{
        background-color: #f3c674;
        width: 18%;
        height: 50%;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        font-size: 14PX;
    }

    .hr-project-btn:hover{
        background-color: #f3c674;
        transform: unset;
    }

    /* SINGLE PROJECTS CONTENT */
    .show-project{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hr-project-title{
        margin: 10% 5% 0 5%;
        font-size: 18px;
    }

    #hr-project-description{
        margin: 5% 5% 5% 5%;
        font-size: 16px;
    }

    .project-info{
        width: 90%;
        display: flex;
        flex-direction: column;
        height: unset;
    }

    .project-info ul{
        list-style-type:circle;
        margin-left: none;
        margin-top: 5%;
        width: 100%;
    }

    .project-info ul li{
        font-size: 18px;
        margin-bottom: 5%;
        margin-left: 2%;
    }

    .project-info img{
        width: 100%;
        height: auto;
        margin-left: unset;
        border-radius: 10px;
    }

    #hr-project-link{
        margin-left: 0;
        width: 90%;
        margin-top: 0;
        font-size: 20px;
    }

    #hr-project-link::after{
        content: '';
        display: block;
        height: 100px;
    }
}

@media only screen and (max-width: 520px) {

    /* PROJECTS CONTENT */
    .hr-display-content:nth-child(3){
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .hr-projects-showcase{
        width: 100%;
        height: 85%;
        overflow-y: scroll;
    }

    .hr-projects-menu{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #ffe6b8;
    }

    .hr-project-btn{
        background-color: #f3c674;
        width: 18%;
        height: 50%;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        font-size: 10PX;
    }

    .hr-project-btn:hover{
        background-color: #f3c674;
        transform: unset;
    }

    /* SINGLE PROJECTS CONTENT */
    .show-project{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hr-project-title{
        margin: 10% 5% 0 5%;
        font-size: 18px;
    }

    #hr-project-description{
        margin: 5% 5% 5% 5%;
        font-size: 16px;
    }

    .project-info{
        width: 90%;
        display: flex;
        flex-direction: column;
        height: unset;
    }

    .project-info ul{
        list-style-type:circle;
        margin-left: none;
        margin-top: 5%;
        width: 100%;
    }

    .project-info ul li{
        font-size: 18px;
        margin-bottom: 5%;
        margin-left: 2%;
    }

    .project-info img{
        width: 100%;
        height: auto;
        margin-left: unset;
        border-radius: 10px;
    }

    #hr-project-link{
        margin-left: 0;
        width: 90%;
        margin-top: 0;
        font-size: 20px;
    }

    #hr-project-link::after{
        content: '';
        display: block;
        height: 100px;
    }
}
